[Unit]
Description=Gunicorn for audio model
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/repos/erdos_dl_recanvo_project/jr/web_interface
ExecStart=/home/ubuntu/miniconda3/envs/ml/bin/gunicorn -w 2 -b :3000 -t 360 --reload flask_audio_model:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
